<!--Section: Features v.3-->
<section>
    <!--Section heading-->
    <h2 class="h1 py-5 font-weight-bold text-center">Actualizaciones</h2>
    <!--Section description-->
    <p class="px-5 mb-5 pb-3 lead grey-text text-center">Se mostraran las actualizaciones realizadas acontinuación</p>
  
    <!--Grid row-->
    <div class="row pt-2">
  
      <!--Grid column-->
      <div class="col-lg-5 text-center text-lg-left">
        <img src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="" class="img-fluid z-depth-0">
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-7">
  
        <!--Grid row-->
        <div class="row pb-3">
          <div class="col-2 col-md-1">
            <i class="fas fa-reply fa-lg indigo-text"></i>
          </div>
          <div class="col-10">
            <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Que se Pruebe Agregar?</h5>
            <p class="grey-text text-left">Se pueden agregar nuevos generos en el contenido de Tv y Radio, para lo cual puede dirigirse en
              el apartado contenido y editar el material existente y crear nuevos generos para que se pueda filtrar por ellos.</p>
          </div>
        </div>
        <!--Grid row-->
  
        <!--Grid row-->
        <div class="row pb-3">
          <div class="col-2 col-md-1">
            <i class="fas fa-reply fa-lg indigo-text"></i>
          </div>
          <div class="col-10">
            <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Proximamente !!!</h5>
            <p class="grey-text text-left">Se podra agregar videos de youtube en el catalogo de Familyflix.</p>
            <p class="grey-text text-left">Se podra crear series y agregar capitulos a las series .</p>
            <p class="grey-text text-left">Se podra mostrar las ultimas compras.</p>
          </div>
        </div>
        <!--Grid row-->
  
        <!--Grid row-->
        <div class="row pb-3">
          <div class="col-2 col-md-1">
            <i class="fas fa-reply fa-lg indigo-text"></i>
          </div>
          <div class="col-10">
            <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Finance</h5>
            <p class="grey-text text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Reprehenderit
              maiores nam, aperiam minima assumenda
              deleniti hic.</p>
          </div>
        </div>
        <!--Grid row-->
  
      </div>
      <!--Grid column-->
  
    </div>
    <!--Grid row-->
  
  </section>
  <!--Section: Features v.3-->