<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <form class="text-center border border-light p-5 mt-2 mb-4" [formGroup]="contenido" (ngSubmit)="agregarVideo()"
        ngNativeValidate>
        <div class="text-right">

        </div>
        <h5 class="h4 mb-4">Agregue un nuevo video a la carta</h5>
        <div class="md-form">
          <input mdbInput type="text" class="form-control" formControlName="name" name="name" required>
          <label for="form1" class="">Nombre del video</label>
        </div>
        <div class="md-form">
          <textarea class="md-textarea form-control " rows="5" type="text" length="500" formControlName="descripcion"
            name="descripcion" required mdbCharCounter mdbInput></textarea>
          <label for="input_text">Descripción</label>
        </div>
        <div class="">
          <label>Tipo de Contenido</label>
          <select class="browser-default custom-select mb-4" formControlName="tipo" name="tipo" required>
            <option value="1">Pelicula</option>
            <option value="3">Serie</option>
          </select>
        </div>
        <div class="">
          <label>Servidor Donde esta Alojado</label>
          <select class="browser-default custom-select mb-4" formControlName="servidor" name="servidor" required
            (change)="uploadServidor($event.target)">
            <option value="1">Youtube</option>
            <option value="2">Vimeo</option>
            <option value="3">Servidor</option>
          </select>
        </div>
        <div class="">
          <label for="form1" class="">Url del Video</label>
          <input mdbInput type="text" class="form-control" formControlName="url" name="url">

        </div>
        <div class="md-form">
          <input mdbInput type="number" class="form-control" formControlName="precio" name="precio" required>
          <label for="form1" class="">Precio</label>
        </div>
        <label>categoria</label>
        <select class="browser-default custom-select mb-4" formControlName="categoria" name="categoria" required>
          <option *ngFor="let categoria of categorias" value="{{categoria.id}}">{{categoria.categoria}}</option>
        </select>
        <div class="md-form">
          <input mdbInput type="number" id="form1" class="form-control" formControlName="time" name="time" required>
          <label for="form1" class="">Tiempo de Alquiler</label>
        </div>
        <label>Disponible</label>
        <select class="browser-default custom-select mb-4" formControlName="disponible" name="disponible" required>
          <option value="1">Si</option>
          <option value="0">No</option>
        </select>
        <div class="form-group mb-5">
          <label for="exampleFormControlFile1">Agregue una Imagen</label>
          <div>
            <img *ngIf="ImagenTemp" [src]="ImagenTemp" class="w-50" alt="">
          </div>
          <div>
            <img *ngIf="imgTemp" [src]="imgTemp | imagen:'videos'" class="w-50" alt="">
          </div>


          <input type="file" class="form-control-file" (change)="seleccionImagen($event.target.files[0])" >
          <div *ngIf="local_servidor" class="mt-3 p-2 local">
            <div class="text-left">
              <h3 class="white-text">Agregue el video a subir</h3>
              <p>Recuerde lo siguiente:</p>
              <p>Archivos en formato .mp4</p>
            </div>
            <input type="file" class="form-control-file" (change)="seleccionarVideo($event.target.files[0])" >
          </div>
        </div>

        <button mdbBtn type="submit" color="success" size="sm">Agregar</button>
        <button mdbBtn type="button" color="info" size="sm" (click)="actualizarVideo()"
          mdbWavesEffect>Actualizar</button>
        <button mdbBtn type="button" color="danger" size="sm" (click)="contenido.reset()">Reset</button>
      </form>


    </div>
    <div class="col-sm-4">
      <form class="text-center border border-light p-5 mt-2 mb-4" [formGroup]="categoria"
        (ngSubmit)="agregarCategoria()" ngNativeValidate>
        <h5 class="h4 mb-4">Agregue Categoria</h5>
        <div class="md-form">
          <input mdbInput type="text" class="form-control" formControlName="categoria" name="categoria" required>
          <label for="form1" class="">Nombre de la Categoria</label>
        </div>
        <button mdbBtn type="submit" color="success" size="sm">Agregar</button>
        <button mdbBtn type="button" color="info" size="sm" (click)="editarCategoria()"
          mdbWavesEffect>Actualizar</button>
      </form>
    </div>
    <div class="col-sm-4">
      <div class="mt-3">
        <h3 class="h3">Lista de Categorias</h3>
      </div>

      <table mdbTable striped="true">
        <thead>
          <tr>
            <th scope="col">id </th>
            <th scope="col">Nombre </th>
            <th scope="col">editar </th>
            <th scope="col">eliminar </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let a of categorias">
            <th scope="row">{{a.id}}</th>
            <td>{{a.categoria}}</td>
            <td><button mdbBtn type="button" color="info" outline="true" size="sm" (click)="selectCategoria(a)"
                mdbWavesEffect>Editar</button></td>
            <td><button mdbBtn type="button" color="danger" outline="true" size="sm" mdbWavesEffect>Borrar</button></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="text-center">
        <h2 class="h2">Vista Previa actual de los videos a la carta</h2>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="d-flex flex-column ml-5">
      <div class="card p-4 mt-2" *ngFor="let v of videos" style="max-width: 90vw;background-color: hsla(0, 0%, 88%, 0.882)">
        <div class="row">
          <div class="col-sm-3">
            <img class="img-fluid" [src]=" v.imagen | imagen:'videos'" alt="">
          </div>
          <div class="col-sm-9">
            <div class="card-body">
              <h4 class="card-title">{{v.name}}</h4>
              <p class="card-text">{{v.descripcion}}</p>
              <h5 class="card-title">Url del video {{v.url}}</h5>
              <h5 class="card-title">Precio {{v.precio | currency}}</h5>
              <h5 class="card-title">Tiempo de Alquiler {{v.time}} dias</h5>
              <div *ngFor="let categoria of categorias">
                <div *ngIf="categoria.id == v.categoria">
                  <p class="card-text">Categoria: {{categoria.categoria}}</p>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button mdbBtn type="button" color="info" outline="true" size="sm" (click)="selectVideo(v)"
                mdbWavesEffect>editar</button>
              <button mdbBtn type="button" color="danger" outline="true" size="sm" mdbWavesEffect>Borrar</button>
            </div>

          </div>
        </div>


      </div>

    </div>

  </div>


</div>


<div mdbModal #modalupload="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-info modal-notify" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Subiendo Imagen</h4>
      </div>
      <div class="modal-body text-center">
        <div class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>