<div class="container-fluid">
  <div class="row ml-3">
    <div class="col-4">
      <form class="text-center border border-light p-5 mt-2" [formGroup]="contenido" (ngSubmit)="agregarProducto()"
        ngNativeValidate>
        <div class="form-group mt-4">
          <label for="exampleInputEmail1">Nombre del Producto</label>
          <input type="text" class="form-control" aria-describedby="emailHelp"
            placeholder="Ingrese el Nombre del producto" formControlName="name" name="name" required>
        </div>
        <div class="md-form">
          <textarea class="md-textarea form-control " rows="5" type="text" length="500" formControlName="descripcion"
            name="descripcion" required mdbCharCounter mdbInput></textarea>
          <label for="input_text">Descripción del producto</label>
        </div>
        <label>categoria</label>
        <select class="browser-default custom-select mb-4" formControlName="categoria" name="categoria" required>
          <option *ngFor="let categoria of categorias" value="{{categoria.id}}">{{categoria.categoria}}</option>
        </select>
        <div class="form-group">
          <label for="exampleInputPassword1">Precio</label>
          <input type="number" class="form-control" formControlName="precio" name="precio" required
            placeholder="Precio ">
        </div>
        <label>Disponible</label>
        <select class="browser-default custom-select mb-4" formControlName="disponible" name="disponible" required>
          <option value="1">SI</option>
          <option value="0">No</option>
        </select>
        <div class="form-group">
          <label for="exampleFormControlFile1">Agregue la imagen del producto</label>
          <img *ngIf="ImagenTemp" [src]="ImagenTemp" class="w-50" alt="">
          <img *ngIf="imgTemp" [src]="imgTemp | imagen:'tienda'" class="w-50" alt="">
          <input type="file" class="form-control-file" (change)="seleccionImagen($event.target.files[0])" required>
        </div>
        <button mdbBtn type="submit" color="success" size="sm" mdbWavesEffect>agregar</button>
        <button mdbBtn type="button" color="info" size="sm" (click)="actualizar()" mdbWavesEffect>actualizar</button>
      </form>
    </div>
    <div class="col-sm-4">

      <form class="text-center border border-light p-5 mt-2 mb-4" [formGroup]="categoria"
        (ngSubmit)="Agregarcategorias()" ngNativeValidate>
        <h5 class="h4 mb-4">Agregue Categoria</h5>
        <div class="md-form">
          <input mdbInput type="text" class="form-control" formControlName="categoria" name="categoria" required>
          <label for="form1" class="">Nombre de la Categoria</label>
        </div>
        <button mdbBtn type="submit" color="success" size="sm">Agregar</button>
        <button mdbBtn type="button" color="info" size="sm" (click)="editarCategoria()"
          mdbWavesEffect>Actualizar</button>
      </form>



    </div>
    <div class="col-sm-4">
      <div class="mt-3">
        <h3 class="h3">Lista de Categorias</h3>
      </div>

      <table mdbTable striped="true">
        <thead>
          <tr>
            <th scope="col">id </th>
            <th scope="col">Nombre </th>
            <th scope="col">editar </th>
            <th scope="col">eliminar </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let a of categorias">
            <th scope="row">{{a.id}}</th>
            <td>{{a.categoria}}</td>
            <td><button mdbBtn type="button" color="info" outline="true" size="sm" (click)="selectCategoria(a)"
                mdbWavesEffect>Editar</button></td>
            <td><button mdbBtn type="button" color="danger" outline="true" (click)="borrar(a.id)" size="sm"
                mdbWavesEffect>Borrar</button></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <div class="row ml-3 mt-4">
    <div class="text-center mb-3">
      <h3>Productos Actuales</h3>

    </div>

    <div class="col-md-12">
      
      <div class="mb-4 d-flex flex-column">
          <div class="container mt-2" >
              <div class="row p-4 mt-3" *ngFor="let item of items" style="background-color:#e1e1e1e1">
                  <div class="col-sm-6 mt-2">
                      <img class="img-fluid" [src]="item.imagen | imagen:'tienda'" alt="Card image cap">
                  </div>
                  <div class="col-sm-6 mt-2">
                      <div class="card-body">
                          <h4 class="card-title">{{item.name}}</h4>
                          <div *ngFor="let categoria of categorias">
                            <div *ngIf="categoria.id == item.categoria">
                              <p class="card-text">Categoria: {{categoria.categoria}}</p>
                            </div>
                          </div>
                          <p class="card-text">{{item.descripcion}}.</p>
                          <div *ngIf="item.disponible==1">
                            <p class="card-text">Disponible : Si.</p>
                          </div>
                          <div *ngIf="item.disponible==0">
                            <p class="card-text">Disponible : No.</p>
                          </div>
                          <p> Precio de Venta : {{item.precio| currency:'COP'}}</p>
                        </div>
                        <div class="card-footer text-center">
                            <div class="card-footer">
                              <button mdbBtn type="button" color="info" outline="true" size="sm" (click)="editar(item)"
                                mdbWavesEffect>editar</button>
                              <button mdbBtn type="button" color="danger" outline="true" size="sm" (click)="eliminar(item.id)"
                                mdbWavesEffect>Borrar</button>
                            </div>
                          </div>
                  </div>
               
              </div>         
          </div>


      </div>
    </div>

  </div>