.caja{
    background-image: linear-gradient(to right top, #4e88e0, #2d75ea, #195ff0, #2b44f0, #4b12eb);
    height: 200vh;
}
.formulario{
    background-image: linear-gradient(to right top, #051937, #002366, #002a95, #0029c2, #4b12eb);
    margin-top: 5rem;
    border-radius: 20px;
    // height: 200vh;
}